.main-head {
	background: #f8f3f4;
}

.top-head {
	padding: 60px 0 60px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.top-head__heading {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: rgb(241, 109, 127);
}

.breadcrumbs {
	display: flex;
}
.breadcrumbs__link {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #636363;
}
.breadcrumbs__link:hover {
	color: rgb(241, 109, 127);
}
.breadcrumbs__box:last-of-type .breadcrumbs__link {
	font-weight: 700;
	color: rgb(241, 109, 127);
}
.breadcrumbs__box:not(:last-child)::after {
	content: "/";
	padding: 0 8px 0 8px;
	color: #636363;
}

.filter-sort {
	height: 132px;
	padding-top: 39px;
	position: relative;
	display: flex;
	gap: 30px;
}

.filter {
	padding-top: 13px;
	width: 360px;
	position: relative;
	z-index: 10;
}
.filter__content {
	background-color: #fff;
	padding: 0 16px 16px 16px;
	position: absolute;
	width: 360px;
	top: 60px;
	left: 0;
}
.filter[open] {
	background: #fff;
	box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
	color: rgb(241, 109, 127);
}
.filter[open] path {
	fill: rgb(241, 109, 127);
}
.filter__summary {
	display: flex;
	align-items: center;
	gap: 14px;
	padding-left: 16px;
}
.filter__heading {
	color: #000;
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	text-align: left;
}
.filter__item {
	margin-top: 16px;
}
.filter__head {
	margin-top: 16px;
	color: rgb(111, 110, 110);
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	text-align: left;
	border-bottom: 1px solid rgb(235, 235, 235);
	border-left: 5px solid rgb(241, 109, 127);
	padding: 8px 0 12px 11px;
}
.filter__link {
	color: rgb(111, 110, 110);
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	text-align: left;
}
.filter__link:hover {
	color: rgb(241, 109, 127);
}
.filter__link-box {
	display: flex;
	flex-direction: column;
	gap: 11px;
	padding: 24px 16px;
}
.filter__item[open] .filter__head {
	color: rgb(241, 109, 127);
}

.sort {
	padding-top: 12px;
	display: flex;
	gap: 28px;
}
.sort__details {
	position: relative;
}
.sort__summary {
	display: flex;
	align-items: center;
	gap: 10px;
}
.sort__check {
	display: flex;
	gap: 9px;
	align-items: center;
	color: rgb(111, 110, 110);
	font-size: 14px;
	font-weight: 400;
	line-height: 16px;
	text-align: left;
}
.sort__heading {
	color: rgb(111, 110, 110);
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	text-align: left;
}
.sort__box {
	box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
	background: rgb(255, 255, 255);
	padding: 7px 30px 11px 10px;
	position: absolute;
	left: -9px;
	top: 22px;
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.product-box {
	display: flex;
	margin: 0 0 129px 0;
	gap: 16px;
	flex-wrap: wrap;
	justify-content: center;
	transition: product-box__arrow 3s;
}
.product-box__selection {
	border: 1px solid rgb(235, 235, 235);
	padding: 11px 16px;
	margin: 48px auto 0;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	gap: 18px;
}
.product-box__arrow:hover path {
	fill: rgb(241, 109, 127);
	transition: 0.3s;
}
.product-box__numbers {
	display: flex;
	flex-direction: row;
	gap: 30px;
}
.product-box__numbers:first-of-type {
	color: rgb(241, 109, 127);
}
.product-box__number {
	color: rgb(196, 196, 196);
	font-size: 16px;
	font-weight: 300;
	line-height: 19px;
	text-align: left;
}
.active {
	color: rgb(241, 109, 127);
	transition: 0.3s;
}
/* .product-box__number:first-of-type {
	color: rgb(241, 109, 127);
} */

.product {
	width: 370px;
	display: flex;
	flex-direction: column;
	max-width: 350px;
}
.product__img {
	width: 100%;
}
.product__content {
	background-color: rgb(248, 248, 248);
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.product__name {
	color: #000;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
}
.product__text {
	color: rgb(93, 93, 93);
	font-size: 14px;
	font-weight: 300;
	text-align: left;
}
.product__price {
	color: rgb(241, 109, 127);
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}

@media (min-width: 736px) and (max-width: 1140px) {
	.center {
		padding-left: calc(50% - 367px);
		padding-right: calc(50% - 367px);
	}
	.subscribe__main {
		flex-direction: column;
		gap: 48px;
	}
	.hidden-pick {
		display: none;
	}
}
@media (max-width: 735px) {
	.center {
		padding-left: calc(50% - 179px);
		padding-right: calc(50% - 179px);
	}
	.hidden {
		display: none;
	}
	.header {
		padding-left: 16px;
		padding-right: 16px;
	}
	.header__left {
		gap: 41px;
	}
	.top-head {
		flex-direction: column;
		gap: 30px;
	}
	.filter-sort {
		padding-top: 26px;
		gap: 16px;
	}
	.filter {
		width: 130px;
	}
	.filter__summary svg {
		width: 37.5px;
		height: 25px;
	}
	.sort {
		gap: 20px;
		width: 260px;
	}
	.sort__heading {
		font-size: 11px;
	}
	.sort__summary {
		gap: 5px;
	}
	.subscribe__main {
		flex-direction: column;
		gap: 59px;
	}
	.subscribe__item2 input {
		width: 200px;
	}
	.subscribe__item2 button {
		padding: 15px 10px;
	}
	.footermain {
		justify-content: center;
	}
}
