/*--------------------- FOOTER --------------------*/
.footer {
	background-color: rgb(34, 34, 36);
}

.footer-main {
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.footer-main p {
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 19px;
	text-align: left;
	color: rgb(251, 251, 251);
}

.footer__icon {
	display: flex;
	gap: 7px;
}

.rectangle {
	background-color: rgb(225, 225, 225);
	width: 32px;
	height: 32px;
	transition: all 0.3s;
}

.rectangle:hover {
	background-color: rgb(241, 109, 127);
}

.rectangle:hover path {
	fill: rgb(251, 251, 251);
	padding: 32px;
	transition: all 0.3s;
}