
@font-face {
	font-family: "Lato";
	src: url("./css/Lato-Regular.woff2") format("woff2");
}


@font-face {
	font-family: "Lato-Black";
	src: url("./css/Lato-Black.woff2") format("woff2");
}

body {
	font-family: "Lato", sans-serif;
}

.center {
	padding-left: calc(50% - 570px);
	padding-right: calc(50% - 570px);
}

